

center {
    display: block;
    border: 2px solid;
    color: blue;
    padding: 10px;
    margin: 10px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
 .affiche {
    width: 186px;
    height: 24px;
    text-align: right;
    /*color: #fff;*/
 }




























